.element__button {
  margin: 0;
  background-color: transparent;
  max-width: 21px;
  max-height: 18px;
  border: 0;
  padding: 0;
  outline: none;
  transition: opacity .7s ease;
}

.element__button:hover {
  opacity: .5;
  cursor: pointer;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.element__button:focus {
  animation: scale .3s ease 1 reverse backwards;
}
