.form-container__title {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-container__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}