@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__button-close_place_avatar-update {
    align-self: flex-start;
    margin-top: 0px;
    position: absolute;
    top: -10px;
    right: -30px;
  }
}