.popup__container_place_remove-confirmation {
  padding-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__container_place_remove-confirmation {
    flex-direction: row-reverse;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
  }
}