.header {
  box-sizing: border-box;
  border-bottom: solid rgba(84, 84, 84, .7) 1px;
  padding-bottom: 37px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-bottom: 28px;
  }
}